<ion-tabs [ngClass]="'tab'">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="search-circle-outline" [ngClass]="'icon'"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="person-circle-outline" [ngClass]="'icon'"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comments">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="albums">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todos">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
