<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Posts-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <app-all-posts></app-all-posts>-->
<!--&lt;!&ndash;  <ion-header collapse="condense">&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-title size="large">Tab 2</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-header>&ndash;&gt;-->

<!--&lt;!&ndash;  <app-explore-container name="Tab 2 page"></app-explore-container>&ndash;&gt;-->
<!--</ion-content>-->
