<!--<ion-header [translucent]="true">-->
<!--    <ion-toolbar>-->
<!--        <div [ngClass]="'head'">-->
<!--            <div [ngClass]="'title'">-->
<!--                <ion-icon name="camera-outline" [ngClass]="'ic'"></ion-icon>-->
<!--            </div>-->
<!--            <div [ngClass]="'title'">-->
<!--                <ion-title>-->
<!--                    Users-->
<!--                </ion-title>-->
<!--            </div>-->

<!--            <div [ngClass]="'title'">-->
<!--                <ion-icon name="paper-plane-outline" [ngClass]="'ic'"></ion-icon>-->
<!--            </div>-->
<!--        </div>-->

<!--    </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--    <app-all-users></app-all-users>-->
<!--</ion-content>-->

