
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Albums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-album *ngFor="let a of albums" [album]="a"></app-album>>
  <div>
    <router-outlet></router-outlet>
  </div>
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Tab 3</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
