<ion-card>
    <img src="{{album.urlToImage}}">
    <ion-card-header>
        <ion-card-title>{{album.title}}</ion-card-title>
        <ion-button (click)="showDetails()" expand="block">
            {{IsHidden ? 'Show details' : 'Hide details'}}
        </ion-button>
    </ion-card-header>
    <div [hidden]="IsHidden">
        <ion-card-content>
            <ion-card-subtitle>{{album.description}}</ion-card-subtitle>
            <ion-card-subtitle>{{album.publishedAt}}</ion-card-subtitle>
            <ion-card-subtitle>{{album.author}}</ion-card-subtitle>
            <ion-card-subtitle>{{album.url}}</ion-card-subtitle>
            {{album.content}}
        </ion-card-content>
    </div>
</ion-card>

