<!--<app-todos *ngFor="let t of todos" [todo]="t"></app-todos>-->

<!--<div [ngClass]="'items'">-->
<!--  <p>-->
<!--    {{todo.id}}-->
<!--  </p>-->
<!--  <p>-->
<!--    {{todo.title}}-->
<!--  </p>-->

<!--</div>-->

<ion-card>
    <img src="https://image.tmdb.org/t/p/w500/{{todo.poster_path}}">
    <ion-card-header>
        <ion-card-title>{{todo.original_title}}</ion-card-title>
        <div>
            <ion-button (click)="showDetails()"  expand="block">
                {{IsHidden ? 'Show details' : 'Hide details'}}
            </ion-button>
        </div>
    </ion-card-header>
    <div [hidden]="IsHidden">
        <ion-card-subtitle>{{todo.release_date}}</ion-card-subtitle>
        <ion-card-subtitle>
            vote average: {{todo.vote_average}}
        </ion-card-subtitle><ion-card-content>
        {{todo.overview}}
    </ion-card-content>
    </div>
</ion-card>


