<ion-header [translucent]="true">
    <ion-toolbar>
        <div [ngClass]="'head'">

            <div [ngClass]="'title'">
                <ion-title>
                    Movies
                </ion-title>
            </div>

        </div>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngClass]="'all'">

    <div [ngClass]="'all-com'" >
      <app-todos *ngFor="let todo of todos.results" [todo]="todo"></app-todos>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</ion-content>
