<ion-header [translucent]="true">
  <ion-toolbar>
        <ion-title>
            <ion-icon name="arrow-back-outline" (click)="gotoHome()"></ion-icon>
          Users
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--      <div>-->
<!--        {{xxx?.id}}-->
<!--        {{xxx?.name}}-->
<!--        {{xxx?.email}}-->
<!--        {{xxx?.address.city}}-->
<!--        {{xxx?.address.geo.lat}}-->
<!--        {{xxx?.address.geo.lng}}-->
<!--      </div>-->
      <app-user *ngFor="let su of users" [user]="su" (forwardUserData)="catchUserData($event)"></app-user>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
      <router-outlet></router-outlet>
</ion-content>
